.now{display: block;}
.nav{height:82px;position:relative;}
.nav div> ul> li{float:left; margin-right:89px; height: 49px;}
.nav div> ul > li:hover{border-bottom: 2px solid #0068b7; }
.nav div> ul> li> a{font-style:MicrosoftYaHei ; font-size:18px; color: #343434; text-decoration: none; display:block;height:99px;}
.nav div> ul> li> a:hover{color:#0068b7;}
.nav .now{color:red; background-color: yellow;}
.nav div> ul{padding-top: 32px;}
.box{height: 320px; background-color: #2AABD2; width: 100%;overflow:hidden; position: relative; margin: 0px; padding: 0px;}
.box .cont{text-align: center;}

.text_cont{margin-top: 32px;}
.text_cont >span{ width:82px;display:inline-block; color:#424242;font-size:17px;	font-style:MicrosoftYaHei; margin-right: 220px;}
.text_cont >span>p{ margin: 0px;margin-bottom: 10px;text-align: center;}
.text_cont >span>p a{color:#000000; text-decoration: none; }
.text_cont >span>p a:hover{ color:#0068b7; text-decoration:underline;}
.text_cont1{margin-top: 32px;}
.text_cont1 >span{ height:318px; display:inline-block; color:#424242;	font-size:17px;	font-style:MicrosoftYaHei; margin-right: 220px;}
.text_cont1 >span>p{ margin: 0px;	margin-bottom: 10px;text-align: left; }
.text_cont1 >span>p a{	color:#000000;}
.text_cont1 >span>p a:hover{ color:#0068b7; text-decoration:underline;}
.img_cont{ margin-top: 45px;}
.img_cont> span{height:318px; display:inline-block; color:#424242;	font-size:17px;	font-style:MicrosoftYaHei; margin-right: 220px;}
.img_cont >span>p{ margin: 0px;	margin-bottom: 15px;text-align: center; }
.img_cont >span>p a{	color:#000000;}
.img_cont >span>p a:hover{ color:#0068b7; text-decoration:underline;}

.img_cont1{ margin-top: 45px;}
.img_cont1> span{height:318px; display:inline-block; color:#424242;	font-size:17px;	font-style:MicrosoftYaHei; margin-right: 220px;}
.img_cont1 >span>p{ margin: 0px;	margin-bottom: 15px;text-align: center; }
.img_cont1 >span>p a{	color:#000000;}
.img_cont1 >span>p a:hover{ color:#0068b7; text-decoration:underline;}


